<template>
  <div>
    <v-btn outlined @click="login()">LOGIN</v-btn>
    <v-btn outlined @click="logout()">LOGOUT</v-btn>
    <v-btn outlined @click="getFbProfile()">PROFILE</v-btn>
    <v-btn outlined @click="getLongLivedToken()">TOKEN</v-btn>
  </div>  
</template>

<script>
import Vue from 'vue'

export default {
  data() {
    return {
      isFBReady: false,
      loginRes: null,
      fb: null,
      token: null,
      scope: 'public_profile,email,publish_to_groups,pages_manage_posts,instagram_basic,instagram_content_publish,instagram_manage_comments,instagram_manage_insights,instagram_shopping_tag_products,pages_show_list,pages_read_engagement,business_management,ads_management'
    }
  },
  mounted() {
    window.addEventListener('fb-sdk-ready', this.onFBReady)
  },
  beforeDestroy() {
    window.removeEventListener('fb-sdk-ready', this.onFBReady)
  },
  methods: {
    getStatus(callback) {
      if(!this.isFBReady) {
        console.log('no sdk found')
        return
      }

      this.fb.getLoginStatus((res) => {
        callback(res)
      })
    },
    login() {
      debugger
      if(!this.isFBReady) {
        console.log('no sdk found')
        return
      }

      this.getStatus((r) => {
        if(r.status !== 'connected') {
          console.log(this.fb)
            this.fb.login((res) => {
              if(res.authResponse) {
                this.token = res.authResponse.accessToken
                console.log('user is now logged')
                console.log(res)
              } else {
                console.log('error during logging')
              }
            }, {scope : this.scope})
        } else {
          console.log('user is already logged')
          this.token = r.authResponse.accessToken
        }
      })
    },
    getLongLivedToken() {
      if(!this.isFBReady) {
        console.log('no sdk found')
        return
      }

      console.log(this.token)

      const secret = '80f09989913305d469824851ecc2458a'
      this.fb.api('oauth/access_token', 
        'GET', {
          grant_type: 'fb_exchange_token',
          client_id: '781506356456215',
          client_secret: secret,
          fb_exchange_token: this.token
        }, (res) => {
          console.log(res)
        })
    },
    getFbProfile() {
      if(!this.isFBReady) {
        console.log('no sdk found')
        return
      }

      if(!this.token) {
        console.log('no access token found')
        return
      }

      this.fb.api('/me', { fields: 'id, first_name, last_name, middle_name, name, name_format, picture, short_name'}, (res2) => {
        console.log('my profile : ')
        console.log(res2)
      })
    },
    getIgProfile() {

    },
    logout() {
      if(!this.isFBReady) {
        console.log('no sdk found')
        return
      }

      this.fb.logout((res) => {
        console.log('user is now logged out')
      })
    },
    onFBReady() {
      this.isFBReady = true
      this.fb = this.$fb.sdk
      this.getStatus((r) => {
        if(r.authResponse) {
          console.log('user is logged')
          this.token = r.authResponse.accessToken
        } else {
          console.log('user must login')
        }
      })
      console.log('sdk is ready')
    }
  }
}
</script>
